{% extends "base.html" %} {% block title %}About{% endblock %} 

{% block content %}
<div class="">
    <img class="about-container" src="../static/assets/a-about2.jpg" alt="">
</div>
<h3 align="center">About Pupcademy!</h3>
<main>
    <p>
        Welcome to our online dog training program! At our center, we're dedicated to providing your beloved dogs with engaging activities that promote both physical and mental well-being. Through a variety of puzzles, games, and exercises, we aim to build their confidence, improve body awareness, enhance problem-solving skills, and reinforce positive behavior.
    </p>
    <p>
        In our virtual training sessions, dogs will learn valuable conflict resolution skills as they are encouraged to develop 'plan B' or 'plan C' strategies when faced with challenges. Our approach encourages them to think, sniff, dig, run, jump, and socialize in safe and appropriate ways.
    </p>
</main>
di
{% endblock %}