{% extends "base.html" %} {% block title %}About{% endblock %} 

{% block content %}
<div class="">
    <img class="about-container" src="../static/assets/a-about2.jpg" alt="">
</div>
<h3 align="center">About Pupcademy!</h3>
<main class="about-main">
    <p>
        Welcome to our online dog training program! At our center, we're dedicated to providing your beloved dogs with engaging activities that promote both physical and mental well-being. Through a variety of puzzles, games, and exercises, we aim to build their confidence, improve body awareness, enhance problem-solving skills, and reinforce positive behavior.
    </p>
    <p>
        In our virtual training sessions, dogs will learn valuable conflict resolution skills as they are encouraged to develop 'plan B' or 'plan C' strategies when faced with challenges. Our approach encourages them to think, sniff, dig, run, jump, and socialize in safe and appropriate ways.
    </p>
    <p>
        We focus on teaching settling techniques, promoting calm behavior, and lowering arousal levels. Our training also emphasizes the importance of manners, helping your dogs learn to share space with others and communicate effectively with fellow canines. Positive reinforcement is at the core of our methods, rewarding them for working harmoniously alongside other dogs.
    </p>
    <p>
        Throughout our program, we strive to expose your dogs to a wide range of new experiences, from different smells and tastes to diverse sights and textures. These opportunities contribute to building their confidence, enriching their days, expanding their minds, and strengthening their bodies.
    </p>
    <p>
        Join us today and embark on a rewarding journey of online dog training, where your furry friends will thrive in the comfort of their own homes while gaining essential skills for a fulfilling and enriched life.
    </p>
</main>
{% endblock %}