{% extends "base.html" %}
{% block title %}Training{% endblock %}
{% block content %}

<h3 align="center">Who will you train today?</h3>
<br>
<div id="selectedDog" align="center">
  <ul class="" id="dogList">
    {% for dog in dogs %}
      <li class="list-group-item">
        <a href="/about" class="dog-info">
          <img src="{{ dog.dog_image }}" alt="" width="100" height="100">
          <h4>{{ dog.dog_name }}</h4>
        </a>
        <button type="button" class="close btn-close-color" onClick="deleteDog({{ dog.id }})">
          <span aria-hidden="true">&#x2718;</span>
        </button>
      </li>
    {% endfor %}
  </ul>
</div>

<br>

<form method="POST" id="registerDogForm" onsubmit="saveSelectedDog(event)">  
  <h3 align="center">Register Your Dog</h3>

  <div class="form-group">
    <label for="dog_name">Dog Name</label>
    <input
      type="text"
      class="form-control"
      id="dog_name"
      name="dog_name"
      placeholder="Enter dog name"
    />
  </div>
  <div class="form-group">
    <div class="container mt-3">
      <!-- dropdown dob breed info pulled from js file in components -->
      {{ get_dropdown_menu() | safe }}
    </div>
  </div>
  <br />
  
  <!-- Add hidden inputs here -->
  <input type="hidden" id="dogNameInput" name="dog_name" value="">
  <input type="hidden" id="dogImageInput" name="dog_image" value="">
  <button type="submit" class="btn btn-custom-color">Register</button>
</form>

{% endblock %}

