body {
	background-color: #f1f8ea;
}

/* Navbar */

.font-custom-color .nav-link {
	color: #4371c6;
}

.font-custom-color .nav-link:hover {
	color: rgb(255, 255, 255);
}

.btn-custom-color {
	background-color: #c3e1f7;
	color: #4371c6;
}

.btn-custom-color:hover {
	color: rgb(255, 255, 255);
}

.scrollable-menu {
	max-height: 200px;
	overflow-y: auto;
}

.container {
	padding-top: 7%;
}

/* Registered Dogs */

#dogList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.dog-info {
	display: relative;
	align-items: center;
	margin-right: 10px;
	color: #4371c6;
	font-family: 'marker felt';
}

.dog-info:hover {
	color: white;
}

.dog-info img {
	margin-right: 10px;
}

#dogList .list-group-item {
	display: relative;
	align-items: center;
	width: 170px;
	max-width: 170px;
	min-width: 150px;
	/* width: 50vw; */
	height: 200px;
	overflow: clip;
	margin: 5px;
	background-color: #c3e1f7;
	border: 3px solid #4371c6;
}

/* Flash messages */

.alert {
	margin-bottom: -50px;
	/* position: fixed;
	top: 10px;
	right: 10px;
	z-index: 5; */
}

/* Close (x) buttons */

.btn-close-color {
	color: #4371c6;
}

.btn-close-color:hover {
	color: rgb(255, 255, 255);
}

/* Training Notes */

.list-group .list-group-item {
	font-weight: 500;
	background-color: #c3e1f7;
	margin: 2px;
}
